
@model StudentMarkManagement.Core.Model.StudentDetails

<h1>Student Details</h1>
@using (Html.BeginForm("SaveStudentDetails", "StudentMarkManagement", FormMethod.Post, new { @id = "Formdetails" }))
{

    <style>
        span {
            color: red;
        }
    </style>
    @Html.HiddenFor(x => x.StudentId)
    <div class="container">

        <div class="form-group">
            @*@Html.LabelFor(x => x.StudentName, new { @class = "form-label" })*@
            <label class="col-form-label"> Enter Your Name</label><span>*</span>
            @Html.TextBoxFor(x => x.StudentName, new { @class = "form-control", @placeholder = "Enter Your Name" })
        </div>

        <div class="form-group">
            <label class="col-form-label"> Enter Your Email Address</label><span>*</span>

            @Html.TextBoxFor(x => x.StudentEmail, new { @class = "form-control", @placeholder = "Enter Your Email" })
        </div>

        <div class="form-group">
            @*@Html.LabelFor(x => x.StudentDepartment, new { @class = "form-label" })*@
            <label class="col-form-label">Department</label><span>*</span>
            @Html.DropDownList("StudentDepartment", new SelectList(Model.Department, "DepartmentId", "DepartmentName"), "Select Department", new { id = "StudentDepartment", @style = "width:210px" })
            @*@Html.DropDownListFor(x => x.StudentDepartment, new List<SelectListItem> { new SelectListItem() { Text = "---Select Department---", Value = "" },
                new SelectListItem { Text="Java", Value="Java"} })*@

        </div>



        <div class="form-group">
            @*@Html.LabelFor(x => x.Gender, new { @class = "form-label" })*@
            <label class="col-form-label"> Gender</label><span>*</span>
            @*@Html.RadioButtonFor(x => x.Gender, new { @class = "form-control" })*@
            @Html.RadioButtonFor(x => x.Gender, "Male")Male
            @Html.RadioButtonFor(x => x.Gender, "Female")Female
        </div>



        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="SubmitDetails()">Submit</button>
        </div>
        @ViewBag.Message
            <environment include="Development">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
            </environment>
    </div>
}
<script>


    $(function () {
        $("#Formdetails").validate({
            rules: {
                Enter Your Name:
                {
                    required: true
                },
                Enter Your Email Address:
                {
                    required: true,
                },
                Department:
                {
                    required: true
                },
                Gender:
                {
                    required: true
                }
            },
            messages:
            {
                Enter Your Name:
                {
                    required: "Name is required",
                },
                Enter Your Email Address:
                {
                    required: "Last is required",
                },
                Department:
                {
                    required: "required"
                },
                Gender:
                {
                    required: "student age is required"
                }
               
            }
        });
    });
    function SubmitDetails() {
        if ($("#Formdetails").validate()) {
            $("#Formdetails").submit();
        }
    }
  
</script>
